<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img src="/images/footer/FotoMartina.jpeg" alt="">
                    <h2>Martina Bellsola Ferrer</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img src="/images/footer/FotoCami.jpeg" alt="">
                    <h2>Camila Barbareschi</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img src="/images/footer/fotoCarlos.jpg" alt="">
                    <h2>Carlos Escobar</h2>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->