<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoHooves/logoSvg.svg" />
	
	<title> Hooves </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<!-- Agregar productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Formulario -->
			<form action="../controladores/loginControllers.js" method="get" >
				<label class="form-label" for="productname"> Nombre del producto:</label>
				<input class="form-input" type="text" name="nombreDelProducto">

				<label class="form-label" for="descripcion"> Breve descripción del producto:</label>
				<input class="form-input"type="text" name="descripcióndelproducto">

				<label class="form-label" for="imagen"> Imagen del producto:</label>
				<input class="form-input-imagen" type="file" name="imagen">
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include("partials/footer.ejs")%>
	<!-- /footer -->

</body>
</html>