/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/*====== Variables ======*/
:root {
  --yellow: #d1cfee;
  --dark-blue: #03264C;
  --light-blue: #666393;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --black: #000;
  --base-font-family: 'Epilogue', sans-serif
}



/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: var(--base-font-family);
  font-weight: 300;
  background-color: var(--light-gray);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

a.especial{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
a.especial:hover{
  color: #666393;
}

/*====== Main Header ======*/
.main-header {
  padding: 15px 0;
  background-color: var(--yellow);
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}
a.main-header_credit-link {
  text-decoration: none;
}
a.main-header_credit-link:hover {
  color: #666393;
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input:focus{
  outline: none;
  border-color: none;
}
.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 9px 35px 9px 20px;
  border-radius: 30px;
  height: 40px;
  font-size: 1.5em;
}
.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: transparent;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: #666393;
  cursor: pointer;
}
.main-navbar a {
  text-decoration: none;
}

/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--light-blue);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 20px;
  display: none;
}

.left-navbar,
.right-navbar {
  font-size: 1.5em;
}

.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
}

.logout:hover{
  color: #666393;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}

/*====== Banner ======*/
.uk-dotnav>.uk-active>* {
  background-color: #666393;
  border-color: transparent;
}
.uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary>:not([class*=uk-card-media]) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary>:not([class*=uk-card-media]) .uk-slidenav, .uk-light .uk-slidenav, .uk-offcanvas-bar .uk-slidenav, .uk-overlay-primary .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav {
  color: #666393;
}
.uk-card-primary.uk-card-body .uk-slidenav:focus, .uk-card-primary.uk-card-body .uk-slidenav:hover, .uk-card-primary>:not([class*=uk-card-media]) .uk-slidenav:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-slidenav:hover, .uk-card-secondary.uk-card-body .uk-slidenav:focus, .uk-card-secondary.uk-card-body .uk-slidenav:hover, .uk-card-secondary>:not([class*=uk-card-media]) .uk-slidenav:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-slidenav:hover, .uk-light .uk-slidenav:focus, .uk-light .uk-slidenav:hover, .uk-offcanvas-bar .uk-slidenav:focus, .uk-offcanvas-bar .uk-slidenav:hover, .uk-overlay-primary .uk-slidenav:focus, .uk-overlay-primary .uk-slidenav:hover, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav:focus, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav:hover {
  color: #d1cfee;
}

/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 3.4em;
  font-weight: 700;
  font-family: 'Bangers';
  color: var(--gray);
}
.products-title:hover {
  color: var(--light-blue);
}


.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 45px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

.product-box a.productLink{
  text-decoration: none;
}

.product-detail-description a{
    padding-top: 8px;
}
.product-detail-description a:hover{
  color: #666393;
}
.comentario input{
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 9px 35px 9px 20px;
  border-radius: 10px;
  height: 40px;
  font-size: 1.5em;
}
.comentario input:focus{
  outline: none;
  border-color: none;
}

/*====== Footer ======*/
.main-footer {
  background-color: #ffffff;
  padding: 10px 0;
  margin-top: 80px;
}
 
.footer-data {
  text-align: center;
}
 
.footer-data img {
  width: 40%;
  border-radius: 70px;
  height: 65px;
  width: 65px;
  object-fit: cover;
}
 
.footer-data h2 {
  color: var(--black);
  margin: 5% 0% 0% 0%;
  font-weight: 300;
  font-size: medium;
  font-family: "Epilogue";
}
 
.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}
 
.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}

/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

button.borrarComent {
  border: none; 
  background-color: rgba(239, 239, 239,0);
  width: 15px;
}


.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article{
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data{
  width: 85%;
  
}
.comments p{
  font-size: 1.5em;
  margin-top: 0;
}
.comments .user{
  font-size: 1.7em;
}

/*====== Formularios ======*/
html {
  height: 100%;
}

.login-box {
  position: relative;
  top: 50%;
  left: 30%;
  width: 400px;
  padding: 40px;
  background:#7676A2;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  padding-top: 5%;
}


.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 0px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.error{
  color: rgb(209, 0, 0);
  font-size: 1.4em;
}

form.formBorrar{
  display: inline;
}
form.formBorrar button.borrarComent{
  display: inline;
  padding: 0%;
  margin-top: 0%;
}
form.formBorrar button.borrarComent i.fa{
  font-size: 150%;
}
 
div.data p.user{
  margin-bottom: 0%;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 12px;
}
/*====== Profile ======*/
.info-usuario{
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  font-size: 16px;
}

.foto-perfil{
  border-radius: 50%;
}

.main-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.btn{
  background-color: #666393;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.main-title i:hover{
 color: #666393;
}

/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  .banner {
    height: 320px;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
  ::placeholder { color: #c0c0e7; }
}